[submodule "experimentation/data/sentences"]
	path = experimentation/data/sentences
	url = https://github.com/COMP0087-OpenNLP/sentences
[submodule "experimentation/data/llmrails"]
	path = experimentation/data/llmrails
	url = https://github.com/COMP0087-OpenNLP/llmrails
[submodule "experimentation/data/voyage"]
	path = experimentation/data/voyage
	url = https://github.com/COMP0087-OpenNLP/voyage
[submodule "experimentation/data/cohere"]
	path = experimentation/data/cohere
	url = https://github.com/COMP0087-OpenNLP/cohere
[submodule "experimentation/data/angle"]
	path = experimentation/data/angle
	url = https://github.com/COMP0087-OpenNLP/angle
[submodule "experimentation/data/gist"]
	path = experimentation/data/gist
	url = https://github.com/COMP0087-OpenNLP/gist
[submodule "experimentation/data/gte-large"]
	path = experimentation/data/gte-large
	url = https://github.com/COMP0087-OpenNLP/gte-large
