*.DS_Store
*.pyc
experimentation/data/*
.venv_blaze
.venv_*/
.venv*
.cache
experimentation/snlp_test.py
experimentation/cache/temp/*
experimentation/data
pytrec_eval/*
*.sh
experimentation/test_results/best_model.pth
experimentation/test_results/final_model.pth
experimentation/pca/*